body {
	background-color: green;
	width: 950px;
	height: 2500px;
	margin-top: 50px;
}

.navbar {
    height: 100px;
	width: 1920px;
	margin-top: -25px;
	background-color: goldenrod;
}

.headerbanner {
    height: 700px;
    width: 1920px;
    margin-top: 25px;
    background-color: aquamarine;
    float: left;
}