body {
	margin: 0;
	background-color: lightgrey;
	font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  }
  
  .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	height: 100vh;
  }
  
  .header {
	background-color: goldenrod;
	color: black;
	padding: 20px;
	width: 100%;
	text-align: center;
	align-content: center;
	font-size: 3vw;
	height: 6vw;
	flex-shrink: 0;
  }
  
  .banner {
	background-color: black;
	color: white;
	margin-top: 3vh;
	padding: 20px;
	width: 93%;
	text-align: center;
	align-content: center;
	font-size: 5vw;
	height: 20vw;
	flex-shrink: 0;
  }
  
   .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 90%; 
	gap: 20px;
  }
  
  .item1 {
	background-color: royalblue;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
  }
  
  .item2 {
	background-color: lightgrey;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-weight: bold;
  }
  
  .item3 {
	background-color: lightgrey;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-weight: bold;
  }
  
  .item4 {
	background-color: royalblue;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
  }
  
  .item5 {
	background-color: royalblue;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
  }
  
  .item6 {
	background-color: lightgrey;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-weight: bold;
  }
  
  .footer {
	background-color: goldenrod;
	color: black;
	padding: 20px;
	width: 100%;
	text-align: center;
	align-content: center;
	font-size: 3vw;
	height: 9vw;
	margin-top: 3vh;
	flex-shrink: 0;
  }