body {
	margin: 0;
	background-color: lightgrey;
	font-family:Arial, Helvetica, sans-serif
  }

  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  /* Navbar container */
  .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 15px 30px;
	color: gold;
  }
  
  /* Logo */
  .logo {
	font-size: 1.5em;
	font-weight: bold;
  }
  
  /* Nav links container */
  .nav-links {
	display: flex;
	gap: 20px;
  }
  
  /* Links */
  .nav-links a {
	color: white;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
	color: #ffcc00; /* Highlight color on hover */
  }
  
  .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	height: 100vh;
  }
  
  .header {
	background-color: goldenrod;
	color: black;
	padding: 20px;
	width: 100%;
	text-align: center;
	align-content: center;
	font-size: 3vw;
	height: 6vw;
	flex-shrink: 0;
  }
  
  .banner {
	background-color: black;
	color: white;
	margin-top: 3vh;
	padding: 20px;
	width: 93%;
	text-align: center;
	align-content: center;
	font-size: 5vw;
	height: 38.5vw;
	flex-shrink: 0;
  }
  
   .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 90%; 
	gap: 20px;
  }
  
  .item1 {
	background-color: royalblue;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
  }
  
  .item2 {
	background-color: lightgrey;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-weight: bold;
  }
  
  .item3 {
	background-color: lightgrey;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-weight: bold;
  }
  
  .item4 {
	background-color: royalblue;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
  }
  
  .item5 {
	background-color: royalblue;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
  }
  
  .item6 {
	background-color: lightgrey;
	width: 550px;
	height: 300px;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-weight: bold;
  }
  
  .footer {
	background-color: goldenrod;
	color: black;
	padding: 20px;
	width: 100%;
	text-align: center;
	align-content: center;
	font-size: 3vw;
	height: 9vw;
	margin-top: 3vh;
	flex-shrink: 0;
  }