body {
	margin: 0;
	background-color: lightgrey;
	font-family: Arial, Helvetica, sans-serif
  }

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial, sans-serif;
  }
  
  .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: goldenrod;
	padding: 30px 30px;
	height: 15vh;
	width: 100%;
  }
  
  .logo {
	color: white;
	font-size: 1.5em;
	font-weight: bold;
  }

  .logo img {
	height: 6vh;
  }
  
  .nav-links {
	display: flex;
	gap: 50px;
  }
  
  .nav-links a {
	color: black;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
	color: royalblue;
  }